pytest
pytest-cov
pytest-mock
pytest-asyncio
pytest-html

requests
requests-mock
responses

kafka-python
confluent-kafka

unittest2

# Add airflow for test environments
apache-airflow
apache-airflow-providers-http

pendulum==2.1.2
importlib-metadata==6.11.0 

black
flake8
bandit
safety

python-dotenv
freezegun
jsonschema
