pytest
pytest-cov
pytest-mock
pytest-asyncio
pytest-html

requests
requests-mock
responses

kafka-python
confluent-kafka

unittest2

# Add airflow for test environments
apache-airflow
apache-airflow-providers-http
pendulum
importlib-metadata
black
flake8
bandit
safety

python-dotenv
freezegun
jsonschema
